@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Explore California!</h1>
    <p> <cite>“A mind that is stretched by <b>a new experience</b> can never go back to its old dimensions.”</cite></p>
    <p>Life is short World is Wide!</p>
    <p>Journey your life and share!</p>
    <p>Map jorneys and get started!</p>
    <div class="row">
        <img src="https://drupal8-prod.visitcalifornia.com/sites/drupal8-prod.visitcalifornia.com/files/styles/fluid_1000/public/2020-11/RTH_consumer_hero-desert1280x640-2.jpg?itok=RlTnmrOC" alt="Visit California" align="middle">
    </div>
</div>


