@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>General Information</b></p>
<p>If you require any more information or have any questions about our privacy policy, please feel free to contact us.</p>
<p>At ExploreCalifornia, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information that is received and collected by ExploreCalifornia and how it is used.</p>
<p>Please be aware that privacy laws in each territory may differ. ExploreCalifornia adheres to the privacy laws in the United States of America.</p>
<p>ExploreCalifornia reserves the right to change or update this privacy policy at any time.</p>
